$body-size: 16px;
$body-line-height: 1.65;
$family-sans-serif: 'Oslo', Helvetica, Arial;


.has-text-white .content {

	h1, 
	h2, 
	h3,
	h4,
	h5,
	h6 {
		color: white;
	}

	strong {
		color: white !important;
	}

	a {
		color: white;
		text-decoration: underline;
	}
}