$body-size: 16px;
$body-line-height: 1.65;
$family-sans-serif: 'Oslo', Helvetica, Arial;
$body-family: $family-sans-serif;
// $body-background-color: $color-grayscale-5;

body,
button,
input,
select,
textarea {
  font-family: $family-sans-serif;
}

img {
  width: 100%;
}

$primary: $color-blue-dark;

.has-text-white .content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  strong {
    color: white !important;
  }

  a {
    color: white;
    text-decoration: underline;
  }
}

a:hover {
  text-decoration: underline;
}

.content h1,
.title.is-1 {
  font-weight: 500;
  font-size: 1.8em;
  line-height: 1.1em;
  letter-spacing: -0.02em;
}

.content h2,
.title.is-2 {
  font-weight: 500;
  font-size: 1.65em;
  line-height: 1.3em;
  letter-spacing: -0.01em;
}

.content h3,
.title.is-3 {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.4em;
  letter-spacing: -0.005em;
}

.content h4,
.title.is-4 {
  font-weight: 500;
  font-size: 1.3em;
  line-height: 1.4em;
}

.footer {
  padding: 0;
}

.card {
  background: inherit;
  box-shadow: inherit;
  color: inherit;
}

.content {
  & figure {
    margin-left: 0;
    margin-right: 0;

    & figcaption {
      font-size: 0.8em;
      font-style: normal;
      line-height: 1.2em;
      font-weight: 500;
      margin-top: 0;
      padding-top: 0;
      color: $color-grayscale-60;
    }
  }

  & figure:not(:last-child) {
    margin-bottom: 1em;
  }

  & figure:not(:first-child) {
    margin-top: 1em;
  }
}

.section {
  padding: 1.5rem;

  @media screen and (min-width: $desktop) {
    padding: 2rem 1.5rem;
  }

  & + section {
    padding-top: 1.5rem;
  }
}

.button:focus-visible {
  outline: 2px solid $color-red;
}
