@forward 'partials/colors';

$gfxPath: '../gfx';
$header-height: 4em;

// Breakpoints (Bulma-compatible to minimize visual regressions)
$tablet: 769px;
$desktop: 1024px;
$widescreen: 1216px;
$fullhd: 1408px;
