$oslo-blue-dark: #2a2859;
$oslo-blue-mid: #6fe9ff;
$oslo-blue-light: #b2f5fe;
$oslo-green-dark: #044b45;
$oslo-green-mid: #43f7b6;
$oslo-green-light: #c7f6c8;
$oslo-brown-mid: #d0bfae;
$oslo-beige-light: #f8f0dc;
$oslo-mustard-mid: #f9c66b;
$oslo-red-mid: #ff8274;
$oslo-black-10: #e5e5e5;
$oslo-black-20: #cccccc;
$oslo-black-30: #b2b2b2;
$oslo-black-40: #999999;
$oslo-black-50: #7f7f7f;
$oslo-black-60: #666666;
$oslo-black-70: #4d4d4d;
$oslo-black-80: #333333;
$oslo-black-90: #1a1a1a;
$oslo-black-100: #000000;
