@charset "utf-8";
/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */

@import 'variables';
@import 'helpers/icons';
@import 'partials/fonts';
@import 'partials/colors';

@import '../../../../node_modules/bulma/sass/utilities/_all';
@import '../../../../node_modules/bulma/sass/base/_all';
@import '../../../../node_modules/bulma/sass/elements/_all';
@import '../../../../node_modules/bulma/sass/components/_all';
@import '../../../../node_modules/bulma/sass/grid/_all';
@import '../../../../node_modules/bulma/sass/layout/_all';

@import 'custom-bulma';

@import 'partials/hero';
@import 'partials/navbar';
@import 'partials/search-results';
@import 'partials/footer';
@import 'partials/block-images';
@import 'partials/card';
@import 'partials/bio';
@import 'partials/categories';

::placeholder {
  color: $color-grayscale-50;
}

.section {
  &--blue {
    background-color: $color-blue;
  }

  &--blue-light {
    background-color: $color-blue-light;
  }

  &--purple {
    background-color: $color-purple;
  }

  &--grey-lighter {
    background-color: $color-grey-lighter;
  }

  &--grey-light {
    background-color: $color-grey-light;
  }

  &--grey-dark {
    background-color: $color-grey-dark;
  }

  &--grey-darker {
    background-color: $color-grey-darker;
  }

  &--green {
    background-color: $color-green;
  }

  &--green-dark {
    background-color: $color-green-dark;
  }

  &--green-light {
    background-color: $color-green-light;
  }

  &--green-lighter {
    background-color: $color-green-lighter;
  }

  &--green-faded {
    background-color: $color-green-faded;
  }

  &--brown {
    background-color: $color-brown;
  }

  &--brown-beige {
    background-color: $color-brown-beige;
  }

  &--orange {
    background-color: $color-orange;
  }

  &--red {
    background-color: $color-red;
  }

  &--yellow {
    background-color: $color-yellow;
  }

  &--white {
    background-color: $color-white;
  }

  &--black {
    background-color: $color-black;
  }
}

// Hanging bullets on desktop
.content ul,
.content ol {
  @media screen and (min-width: 769px) {
    margin-left: 0;
  }
}

// Responsive text sizes
html,
body {
  @media screen and (min-width: 769px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 19px;
  }

  @media screen and (min-width: 1408px) {
    font-size: 20px;
  }
}

.quote {
  font-size: 1.25em;
  padding-left: 2rem;
  padding-right: 1rem;
  line-height: 1.5em;
  position: relative;
  margin: 1rem 0;

  &::before {
    position: absolute;
    content: ' ';
    top: -1em;
    bottom: -1em;
    left: 0px;
    width: 4px;
    background: rgba(black, 0.1);
  }

  footer > cite {
    font-size: 0.85rem;
    font-style: normal;
    display: flex;
    flex-direction: column;
    line-height: 1.55em;
  }

  &__source {
    font-weight: 500;
    margin-top: 1rem;
  }

  &__source-description {
    margin: 0;
  }
}

.lead {
  font-size: 1.3em;
}

.is-paddingless-top-bottom {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.is-paddingless-top {
  padding-top: 0;
}

.is-paddingless-bottom {
  padding-bottom: 0;
}

.sidebarbox {
  background: $color-grey-bg;
  padding-bottom: 2em;
  position: relative;
  margin-top: 1.75em;

  &__icon {
    position: absolute;
    height: 3.5em;
    width: 3.5em;
    background-color: #7e8b8c;
    top: -1.75em;
    left: 0;
  }
}

.sidebarImage {
  padding: 0.5em;
  background: $color-grey-bg;
}

.is-small {
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.065em;
}

.vue-map {
  height: 50vh;
  width: 100%;
}

.home-header {
  background: $color-yellow;
  margin-bottom: 3em;

  &__columns {
    flex-direction: row-reverse;
  }

  &__text-column {
    align-self: center;
    padding: 0 1.5em 1.5em;

    @media screen and (min-width: $tablet) {
      padding: 0;
    }
  }

  &__image-column {
    margin-top: auto;
  }

  &__links {
    margin-top: 2em;
  }

  &__image {
    display: block;
    margin: 0 auto;

    width: 50vw;
    max-width: 500px;
    mix-blend-mode: multiply;
    transform-origin: 50% 10%;
    transform: scale(1.1) translateY(-1em);

    @media screen and (min-width: $tablet) {
      width: auto;
      max-height: 25vh;
      transform: scale(1.3) translateY(-1.5em);
    }

    @media screen and (min-width: $fullhd) {
      transform: scale(1.55) translateY(-2em);
    }
  }
}

.category-list {
  $p: &; // temporarily store the parent selector

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

    &:hover {
      background-color: white !important;

      #{$p}__text {
        // color: red;
      }

      #{$p}__image {
        // mix-blend-mode: normal;
      }
    }
  }

  &__text {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 1.15em;
    text-shadow: 0 2px 3px black;
  }

  &__image {
    margin: 0;
    mix-blend-mode: multiply;
    transition: all 0.2s;
  }
}

.experiment {
  $p: &;

  &__tile {
    //height: 24em;
    position: relative;

    &:hover #{$p}__image {
      filter: saturate(1) brightness(1);
      transform: scale(1.015);
    }
  }

  &__heading,
  &__tag {
    position: absolute;
    left: 2rem;
  }

  &__tag {
    top: 2rem;
    display: block;
    padding: 0.3em 0.5em 0.1em;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    text-shadow: 0 1px 1px rgba(black, 0.4);
  }

  &__heading {
    bottom: 2rem;
    width: calc(100% - 4rem);
    max-width: 20em;
    text-shadow: 0 1px 4px rgba(black, 1);
  }

  &__imagecontainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform-origin: 50% 50%;
    transform: scale(1);
    filter: saturate(0.7) brightness(0.6);
    transition: all 1.2s ease-in-out;
  }
}

.related {
  position: relative;

  &__tag {
    position: absolute;
    background: $color-purple;
    padding: 0.3em 0.65em;
    color: $color-blue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7em;
    top: -4.25em;
  }
}

// Remove padding between white content blocks
.section:not(.has-background) + .section:not(.has-background) {
  padding-top: 0;
}
