
@charset "utf-8";
/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */


@import "custom-bulma";

@import "../../../../node_modules/bulma/sass/utilities/_all";
@import "../../../../node_modules/bulma/sass/base/_all";
@import "../../../../node_modules/bulma/sass/elements/_all";
@import "../../../../node_modules/bulma/sass/components/_all";
@import "../../../../node_modules/bulma/sass/grid/_all";
@import "../../../../node_modules/bulma/sass/layout/_all";

@import "partials/fonts";
@import "partials/colors";

@import "partials/hero";


::placeholder {
  color: $color-grayscale-50;
}


.section {
  background-color: white; 

  &--blue { background-color: $color-blue; }
  &--blue-light { background-color: $color-blue-light; }
  &--purple { background-color: $color-purple; }
  &--grey-lighter { background-color: $color-grey-lighter; }
  &--grey-light { background-color: $color-grey-light; }
  &--grey-dark { background-color: $color-grey-dark; }
  &--grey-darker { background-color: $color-grey-darker; }
  &--green { background-color: $color-green; }
  &--green-dark { background-color: $color-green-dark; }
  &--green-light { background-color: $color-green-light; }
  &--green-lighter { background-color: $color-green-lighter; }
  &--green-faded { background-color: $color-green-faded; }
  &--brown { background-color: $color-brown; }
  &--brown-beige { background-color: $color-brown-beige; }
  &--orange { background-color: $color-orange; }
  &--red { background-color: $color-red; }
  &--yellow { background-color: $color-yellow; }
  &--white { background-color: $color-white; }
  &--black { background-color: $color-black; }

}





// Hanging bullets on desktop
.content ul,
.content ol {

  @media screen and (min-width: 769px) {
    margin-left: 0;
  }
  
}


// Responsive text sizes
html, body {

  @media screen and (min-width: 769px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 19px;
  }

  @media screen and (min-width: 1408px) {
    font-size: 20px;
  }

}



blockquote {
  font-size: 0.95em;
  padding-left: 1em;
  line-height: 1.85em;
  position: relative;

  &::before {
    position: absolute;
    content: " ";
    top: -1em;
    bottom: -1em;
    left: -4px;
    width: 4px;
    background: rgba(black, 0.1);
  }


  &.quote-initial-letter {

    &:first-letter {
      opacity: 0.4;
      float: left;
      font-size: 4em;
      padding-top: 0.2em;
      padding-right: 0.05em;
      font-weight: bold;
      margin-left: -0.06em;
      position: relative;
    }

  }


}


.lead {
  font-size: 1.2em;
}