
@charset "utf-8";
/*! bulma.io v0.7.2 | MIT License | github.com/jgthms/bulma */


@import "custom-bulma";

@import "../../../../node_modules/bulma/sass/utilities/_all";
@import "../../../../node_modules/bulma/sass/base/_all";
@import "../../../../node_modules/bulma/sass/elements/_all";
@import "../../../../node_modules/bulma/sass/components/_all";
@import "../../../../node_modules/bulma/sass/grid/_all";
@import "../../../../node_modules/bulma/sass/layout/_all";

@import "partials/fonts";
@import "partials/colors";



::placeholder {
  color: $oslo-black-50;
}


.section {
  background: white;

  &--bg {
    background: $oslo-blue-dark;
  }
}



// Hanging bullets on desktop
.content ul,
.content ol {

  @media screen and (min-width: 769px) {
    margin-left: 0;
  }
  
}


// Responsive text sizes
html, body {

  @media screen and (min-width: 769px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 19px;
  }

  @media screen and (min-width: 1408px) {
    font-size: 20px;
  }

}



blockquote {
  font-size: 0.95em;
  padding-left: 1em;
  line-height: 1.85em;
  position: relative;

  &::before {
    position: absolute;
    content: " ";
    top: -1em;
    bottom: -1em;
    left: -4px;
    width: 4px;
    background: rgba(black, 0.1);
  }


  &:first-letter {
    opacity: 0.4;
    float: left;
    font-size: 4em;
    padding-top: 0.2em;
    padding-right: 0.05em;
    font-weight: bold;
    margin-left: -0.06em;
    position: relative;

  }

}