.icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--calendar {
    background-image: url($gfxPath+'/icons/calendar-alt.svg');
    margin-right: -0.25em;
    transform: translateY(-0.1em);
  }
  &--user {
    background-image: url($gfxPath+'/icons/user.svg');
    margin-right: -0.25em;
    transform: translateY(-0.1em);
  }
  &--chevron-right {
    background-image: url($gfxPath+'/icons/chevron-right.svg');
  }
  &--facebook {
    background-image: url($gfxPath+'/icons/facebook.svg');
  }
  &--twitter {
    background-image: url($gfxPath+'/icons/twitter.svg');
  }
  &--vimeo {
    background-image: url($gfxPath+'/icons/vimeo.svg');
  }
  &--instagram {
    background-image: url($gfxPath+'/icons/instagram.svg');
  }
  &--map {
    background-image: url($gfxPath+'/icons/map.svg');
  }
  &--phone {
    background-image: url($gfxPath+'/icons/phone.svg');
  }
  &--email {
    background-image: url($gfxPath+'/icons/email.svg');
  }

  &-sidebar--question {
    background-image: url($gfxPath+'/icons/sidebarboxIcons/question-circle.svg');
  }
  &-sidebar--exclamation {
    background-image: url($gfxPath+'/icons/sidebarboxIcons/exclamation-triangle.svg');
  }
  &-sidebar--info {
    background-image: url($gfxPath+'/icons/sidebarboxIcons/info-circle.svg');
  }
  &-sidebar--dialog {
    background-image: url($gfxPath+'/icons/sidebarboxIcons/comments.svg');
  }
  &-sidebar--map {
    background-image: url($gfxPath+'/icons/sidebarboxIcons/map.svg');
  }
  &-sidebar--code {
    background-image: url($gfxPath+'/icons/sidebarboxIcons/code.svg');
  }
  &-sidebar--megaphone {
    background-image: url($gfxPath+'/icons/sidebarboxIcons/megaphone.svg');
  }
  &-sidebar--file {
    background-image: url($gfxPath+'/icons/sidebarboxIcons/file.svg');
  }
  &-sidebar--link {
    background-image: url($gfxPath+'/icons/sidebarboxIcons/link.svg');
  }
}
