.o-block-videos {
  h2.title {
    margin-bottom: 0.5rem;
  }

  & figure {
    text-align: left;
  }

  &__item {
    &-heading {
      font-size: 1rem;
    }
  }

  & figure:not(:first-child) {
    margin-top: 0.3em;
  }
}
