.o-block-images {
  &--two {
    align-items: flex-end;
    @media screen and (min-width: $tablet) {
      margin-bottom: 2em !important;
    }
  }
  &--offset {
    @media screen and (min-width: $tablet) {
      margin-bottom: -2em;
    }
  }

  &__caption {
    font-size: 0.8em;

    &--bottom {
      margin-top: auto;
    }
  }
}
