.o-block-images {
  &--two {
    align-items: flex-end;
    @media screen and (min-width: $tablet) {
      margin-bottom: 2em !important;
    }
  }
  &--offset {
    @media screen and (min-width: $tablet) {
      margin-bottom: -2em;
    }
  }

  &__caption {
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: 300;
    margin-top: 0;
    padding-top: 0;
    color: $color-grayscale-60;

    &::before {
      content: '';
      display: inline-block;
      height: 0.3em;
      width: 0.3em;
      background-color: $color-blue;
      transform-origin: 0.3em 0.3em;
      transform: translateY(-0.35em) translateX(0.1em) rotate(45deg);
      margin-right: 0.8em;
      box-shadow: 0.3em 0 0 $color-blue, 0 0.3em 0 $color-blue;
    }

    &--bottom {
      margin-top: auto;
      transform: translateY(-0.25em);
      @media screen and (min-width: $tablet) {
        margin-bottom: -0.25em;
        transform: translateX(-1em);
      }

      &::before {
        @media screen and (min-width: $tablet) {
          transform: translateY(-0.35em) translateX(0.1em) rotate(-45deg);
          margin-right: 0.6em;
        }
      }
    }
  }
}
