.card {
  font-size: 0.85em;

  &__imagecontainer {
    overflow: hidden;
    position: relative;
  }

  &:hover img {
    transform: scale(1.02);
  }

  &__image {
    transition: transform 0.3s ease-in-out 0.1s;
  }

  &__body {
    max-width: 600px;
    position: relative;
    background: white;
    padding: 1em;
    margin-top: -3em;
    width: calc(100% - 3em);
    box-shadow: 0 2px 5px rgba(black, 0.12);
  }

  &__title {
    font-weight: 500;
    font-size: 1.1em;
  }

  &__video-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: top;
    justify-content: right;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
  }

  &__video-icon {
    width: 3rem; /* 64px */
    height: 3rem; /* 64px */
    color: #222; /* Fargen på play-symbolet */
  }

  &__category {
    position: relative;
    margin-bottom: 1.5rem;
    font-size: 0.9em;
    &::after {
      content: '';
      position: absolute;
      height: 0.35rem;
      width: 0.35rem;
      bottom: -0.9rem;
      left: 0;
      background: $color-green;
    }
  }

  &--featured {
    display: block;
    padding-bottom: 2rem;
  }

  &--featured > &__body {
    margin-top: -3em;
    margin-left: 1.5em;
    margin-bottom: 2em;

    @media screen and (min-width: $tablet) {
      margin-top: -7em;
    }
  }

  &--featured &__video-icon {
    width: 5rem; /* 80px */
    height: 5rem; /* 80px */
  }
}
