ol.categories {
  display: inline;
  margin: 0;
  padding: 0;
}

ol.categories li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.categories li:after {
  content: " / ";
}

ol.categories li:last-child:after {
  content: "";
}
