@use 'sass:color';

$color-blue-dark: #2a2859;
$color-blue: #6fe9ff;
$color-blue-light: #b3f5ff;
$color-red: #ff8274;
$color-green-dark: #034b45;
$color-green: #43f8b6;
$color-green-light: #c7f6c9;
$color-black: #2c2c2c;
$color-yellow: #f9c66b;
$color-beige-dark: #d0bfae;
$color-beige-light: #f8f0dd;
$color-white: #ffffff;

$color-grey-lighter: #f2f2f2;
$color-grey-light: #4a4a4a;
$color-grey-dark: #333333;
$color-grey-darker: #141414;

$color-grey-bg: $color-grey-lighter;

$color-grayscale-5: color.adjust(white, $lightness: -5%);
$color-grayscale-10: color.adjust(white, $lightness: -10%);
$color-grayscale-20: color.adjust(white, $lightness: -20%);
$color-grayscale-30: color.adjust(white, $lightness: -30%);
$color-grayscale-40: color.adjust(white, $lightness: -40%);
$color-grayscale-50: color.adjust(white, $lightness: -50%);
$color-grayscale-60: color.adjust(white, $lightness: -60%);
$color-grayscale-70: color.adjust(white, $lightness: -70%);
$color-grayscale-80: color.adjust(white, $lightness: -80%);
$color-grayscale-90: color.adjust(white, $lightness: -90%);

// Bulma overrides
$primary: $color-blue-dark;
$secondary: $color-blue;
$radius: 0px;

$link: #1f42aa;
