$oslo-blue-dark: #292a56;
$oslo-blue-mid: #89e5fa;
$oslo-blue-light: #b3f5ff;
$oslo-green-dark: #1c4a45;
$oslo-green-mid: #43f8b6;
$oslo-green-light: #cef2cb;
$oslo-brown-mid: #c7b8a9;
$oslo-beige-light: #f6eedd;
$oslo-mustard-mid: #ecbf78;
$oslo-red-mid: #ea8679;
$oslo-black-10: #e5e5e5;
$oslo-black-20: #cccccc;
$oslo-black-30: #b2b2b2;
$oslo-black-40: #999999;
$oslo-black-50: #7f7f7f;
$oslo-black-60: #666666;
$oslo-black-70: #4d4d4d;
$oslo-black-80: #333333;
$oslo-black-90: #1a1a1a;
$oslo-black-100: #000000;
