@font-face {
  font-family: 'Oslo';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/OsloSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Oslo';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/OsloSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Oslo';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/OsloSans-Bold.woff') format('woff');
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}
