.footer {
  color: white;
  font-weight: 500;
  background: darken($color-purple, 12%);

  &__content {
    li {
      display: flex;
      align-items: center;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  &__column {
    margin-bottom: 1.5em;
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 0.5em;

      & + li {
        margin-left: 1em;
      }
    }
  }

  &__title {
    color: $color-orange;
  }

  a {
    color: rgba(white, 0.8) !important;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &__bottom {
    background: darken($color-purple, 18%);
  }

  &__form {
    margin-top: 1.5em;
  }

  &__field {
    background: rgba(white, 0.05);
    border: 2px solid $color-orange;
  }

  &__submit {
    background: $color-orange;
    border: none;

    &:focus {
      outline-color: 2px solid $color-blue;
    }
  }
}
