.footer {
  color: white;
  font-weight: 500;
  background: darken($color-blue-dark, 12%);
  margin-top: 2em;

  &__content {
    li {
      display: flex;
      align-items: center;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      align-items: flex-start;
    }
  }

  &__column {
    margin-bottom: 1.5em;
  }

  &__title {
    color: $color-yellow;
  }

  a {
    color: rgba(white, 0.8) !important;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &__bottom {
    background: darken($color-blue-dark, 18%);
  }

  &__form {
    margin-top: 1.5em;
  }

  &__field {
    background: rgba(white, 0.05);
    border: 2px solid $color-yellow;
  }

  &__submit {
    background: $color-yellow;
    border: none;

    &:focus {
      outline-color: 2px solid $color-blue;
    }
  }
}
