.hero-foot {
  @media screen and (min-width: $desktop) {
    .columns {
      margin: 0;
    }
  }
}

.hero {
  &__text {
    @media screen and (min-width: $desktop) {
      margin-top: -4em;
      margin-bottom: 2em;
      background: $color-blue-light;
      padding: 2em;

      .title {
        color: $color-purple !important;
      }
    }
  }

  &__img {
    max-height: 44vh;
    object-fit: cover;
    width: 100%;
  }

  &__videowrapper {
    max-height: 40vh;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;
    margin-bottom: 1em;

    @media screen and (min-width: $desktop) {
      margin-bottom: 0em;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
    }
    &::before {
      width: 5em;
      height: 5em;
      background: rgba($color-purple, 0.2);
      border-radius: 50%;
      transform: translate(-2.5em, -2.5em);
      z-index: 2;
      cursor: pointer;
    }

    &::after {
      border-top: 1em solid transparent;
      border-bottom: 1em solid transparent;
      border-left: 1.5em solid $color-blue;
      transform: translate(-0.5em, -1em);
      z-index: 3;
    }

    &:hover {
      &::before {
        background: rgba($color-purple, 1);
      }
      &::after {
        border-left-color: rgba($color-blue, 1);
      }
    }

    &--expanded {
      max-height: 1344px * 0.5625;
      max-width: 1344px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      &::after,
      &::before {
        opacity: 0;
      }

      @media screen and (min-width: $desktop) {
        margin-bottom: 6em;
      }
    }
  }
}

.hero__closepopout {
  height: 4em;
  width: 4em;
  position: absolute;
  bottom: -4.6em;
  right: 0;
  background: black;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    bottom: inherit;
    font-size: 0.8em;
    top: -4.6em;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 1em;
    left: calc(2em - 1px);
    top: 1.5em;
    background: $color-blue;
    transform-origin: 50% 50%;
  }

  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}

// Set the fixed size momentarily
// to enable a transition to the popout
// location.
.beforepopout {
  position: fixed;
  width: 100%;
  max-width: 1344px;
  padding-top: 56.25%;
  top: -56.25%;
  right: 0em;
  padding: 0;
  border: 0px solid black;
  box-sizing: content-box;

  &.popout {
    background: black;
    position: fixed;
    top: 0em;
    border: 0.3em solid black;
    z-index: 10;
    transition: all 0.2s ease-in-out;

    @media screen and (min-width: 768px) {
      right: 1em;
      top: 4em;
      width: 300px;
      height: 300px * 0.5625;
    }

    @media screen and (min-width: 1024px) {
      width: 400px;
      height: 400px * 0.5625;
    }
    @media screen and (min-width: 1088px) {
      width: 25vw;
      height: 25vw * 0.5625;
    }
  }
}

// Force article columns to be narrow when
// there's an active pop out video
main.main.has-popout {
  .column {
    transition: max-width 0.4s ease-in-out;
    @media screen and (min-width: 769px) {
      max-width: 60%;
    }
    @media screen and (min-width: 1088px) {
      max-width: 50%;
    }
  }
}

.dateline {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 1rem 0 0.5rem;

  @media screen and (min-width: 500px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }

  &__date {
    padding: 0.5em 0;
    border-top: 1px solid $color-grayscale-20;
    @media screen and (min-width: 500px) {
      border: none;
    }
    &:last-child {
      border-bottom: 1px solid $color-grayscale-20;
      @media screen and (min-width: 500px) {
        border: none;
      }
    }
  }

  &__label {
    font-weight: 500;
    margin-right: 0.25em;
    @media screen and (min-width: 500px) {
      &::after {
        content: ':';
      }
    }
  }

  &__datetime {
    font-weight: 700;
    float: right;
  }
}

.byline {
  background: $color-grey-bg;
  padding: 0.5em;

  &__author {
    display: flex;
    align-items: center;
    padding: 0.5em;
  }

  &__image {
    flex: 0 0 3em;
    height: 3em;
    border-radius: 50%;
    background: darken($color-grey-bg, 20%);
  }

  &__contact {
    flex-grow: 1;
    font-style: normal;
    margin-left: 0.65em;
  }

  &__name {
    font-weight: 600;
    line-height: 1em;
    margin-top: 0.1em;
  }

  &__email {
    font-size: 0.7em;
    color: $text;
    text-decoration: underline;
  }

  &__icon {
    margin-left: 0.65em;
    height: 3em;
    width: 2em;
  }
}

.anchor-list {
  border-left: 2px solid $color-grayscale-30;
  padding-left: 1em;

  &--hidden {
    display: none;
  }

  // Hide the checkbox
  &__toggle {
    display: none;
  }

  &__header {
    display: block;
    width: 100%;
    padding: 1em 0;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    // add icon here
  }

  &__list {
    padding-top: 0.5em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;

    @media screen and (min-width: $tablet) {
      max-height: 25em;
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding: 0.25em 0;
    color: $text;
    text-decoration: underline;
  }

  // Toggle status of header
  &__toggle:checked ~ &__header {
    // change icon here
  }

  // Show list when checkbox is checked
  &__toggle:checked ~ &__list {
    max-height: 25em;
  }
}

.lead {
  margin: 1em 0;

  @media screen and (min-width: $tablet) {
    margin: 0;
  }
}
