.header {
  position: fixed;
  height: $header-height;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  transition: all 0.55s cubic-bezier(0, 0, 0.65, 1.83) 0.3s;
  box-shadow: 0 0px 0px $color-grayscale-30;

  &--unpin {
    transform: translateY(-$header-height);
    transition: transform 0.4s cubic-bezier(0, 0, 0.35, 1.83) 0.15s;

    .header__search {
      transform: translateY(0);
      opacity: 0;
    }
  }

  &--pin:not(&--top) {
    box-shadow: 0 1px 4px $color-grayscale-30;
  }

  &--pin,
  &--focus {
    transform: translateY(0);

    .header__search {
      opacity: 1;
      transform: translateY($header-height);
      transition: transform 0.4s cubic-bezier(0, 0, 0.45, 2.43) 0.5s;

      @media screen and (min-width: $tablet) {
        transform: translateY(0);
      }
    }
  }

  &__branding {
    padding: 0 1em;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
  }

  &__logo {
    margin-left: auto;
    height: 100%;
    display: block;
    padding: 0.75em 1.5em;

    &:hover {
      background: rgba(black, 0.04);
    }
  }

  &__navbutton,
  &__searchbutton {
    font-size: 1rem;
    height: $header-height;
    width: $header-height;
  }

  &__navbutton {
    background: $color-blue;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    border: 0;
    z-index: 3;
    cursor: pointer;

    &.is-open {
      span {
        &:nth-child(1),
        &:nth-child(4) {
          opacity: 0;
          transition: transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
        }
        &:nth-child(2) {
          transform: translateY(1em) rotate(45deg);
          transition: transform 0.4s ease-in-out 0.4s,
            opacity 0.4s ease-in-out 0.4s;
        }
        &:nth-child(3) {
          transform: translateY(1em) rotate(-45deg);
          transition: transform 0.4s ease-in-out 0.4s,
            opacity 0.4s ease-in-out 0.4s;
        }
      }
    }
  }

  &__search {
    z-index: 1;
    transition: transform 0.6s cubic-bezier(0.84, -0.86, 0.34, 2.76) 0.5s,
      opacity 0s linear 1s;
    position: absolute;
    right: 0;
    transform: translateY($header-height);
    height: $header-height;
    @media screen and (min-width: $tablet) {
      transform: translateY(0);
      position: relative;
    }
    display: flex;
  }

  &__searchbutton {
    background-color: $color-purple;
    background-image: url($gfxPath+'/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    border: none;
    transition: border-radius 0.3s ease-in-out;

    &.active {
      border-radius: 0;
      background-image: url($gfxPath+'/icons/close.svg');
    }
  }

  &__navicon {
    height: 100%;
    width: 100%;
    padding: 1em;
    position: relative;

    $bar-height: 0.15em;
    $center: 1em - ($bar-height/2);
    span {
      display: block;
      position: absolute;
      width: 1.5em;
      left: 1.25em;
      height: $bar-height;
      border-radius: 0.075em;
      background: $color-purple;
      top: $center;
      transform-origin: 50% 50%;

      &:nth-child(1) {
        transform: translateY($center - 0.35em) rotate(0deg);
        transition: transform 0.15s ease-in-out 0.3s,
          opacity 0.15s ease-in-out 0.3s;
      }
      &:nth-child(2),
      &:nth-child(3) {
        transform: translateY(1em) rotate(0deg);
        transition: transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
      }
      &:nth-child(4) {
        transform: translateY($center + 0.35em + $bar-height) rotate(0deg);
        transition: transform 0.15s ease-in-out 0.3s,
          opacity 0.15s ease-in-out 0.3s;
      }
    }
  }
}

.drawer {
  position: fixed;
  height: 100vh;
  width: 90%;
  max-width: 600px;
  padding: 3em;
  top: 0;
  right: 0;
  background-color: $color-blue !important;
  z-index: 2;
  overflow-y: auto;
  opacity: 0;
  transform: translateX(100vw);
  transition: transform 0.3s ease-in-out, opacity 0s linear 0.4s;
  overflow-x: hidden;

  .page_item {
    visibility: hidden;
    opacity: 1;
  }

  &.is-open {
    .page_item {
      visibility: visible;
      opacity: 0;
    }

    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0s linear 0s;
    transform: translate(0);

    .page_item {
      transform: translateX(0);
      opacity: 1;
      &:nth-child(1) {
        transition-delay: 0.4s;
      }
      &:nth-child(2) {
        transition-delay: 0.45s;
      }
      &:nth-child(3) {
        transition-delay: 0.5s;
      }
      &:nth-child(4) {
        transition-delay: 0.55s;
      }
      &:nth-child(5) {
        transition-delay: 0.6s;
      }
      &:nth-child(6) {
        transition-delay: 0.65s;
      }
      &:nth-child(7) {
        transition-delay: 0.7s;
      }
      &:nth-child(8) {
        transition-delay: 0.75s;
      }
      &:nth-child(9) {
        transition-delay: 0.8s;
      }
    }
  }
}

.page_item {
  margin-bottom: 1em;
  position: relative;
  transform: translateX(10em);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transition-delay: 0s;

  &.active a {
    font-weight: 700;
  }
}

main.main {
  padding-top: 4em;
}

.minisearch {
  &__field {
    height: 100%;
    width: 100%;
    padding: 0.5em;
    background: $color-purple;
    color: white;
    font-size: 1rem;
    border: 0;

    &:focus {
      outline-color: $color-blue;
    }
  }

  &__form {
    height: 100%;
  }

  &__results {
    background: darken($color-purple, 5%);

    a {
      color: white;
    }
  }

  &__item {
    &--hitcount {
      border-top: 1px solid rgba(white, 0.2);
      a {
        padding: 0.025;
        color: rgba(white, 0.8);
      }
    }

    a {
      display: block;
      width: 100%;
      padding: 0.5em;

      &:focus {
        background: darken($color-purple, 20%);
      }
    }
  }

  &__box {
    max-width: 0em;
    width: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    input {
      display: none;
    }

    &.expanded {
      opacity: 1;
      width: 16em;
      max-width: 16em;
      background: $color-purple;

      input {
        display: block;
      }
    }
  }
}
