.pagination {
  margin: 1em auto;
  height: 3em;
  display: inline-flex;

  &__arrow,
  &__ellipsis,
  &__item {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  &__arrow {
    &--left {
      // background: url();
    }
    &--right {
      // background: url();
    }
    &--disabled {
      opacity: 0.1;
    }
  }

  &__item {
    background-color: $color-yellow;
    font-size: 0.8em;
    border-radius: 50%;
    color: $color-purple;
    transition: background-color 0.1s ease-in-out;
    &:hover {
      background-color: darken($color-yellow, 5%);
    }

    &--active {
      border-radius: 0;
      background-color: $color-blue;
      font-weight: 700;
      cursor: inherit;
      &:hover {
        background-color: $color-blue;
      }
    }
  }
}
